/* Variables */
:root {
  --color-primary-soft-orange: hsl(35, 77%, 62%);
  --color-primary-soft-red:hsl(5, 85%, 63%);
  --color-neutral-off-white: hsl(36, 100%, 99%);
  --color-neutral-grayish-blue: hsl(236, 8%, 79%);
  --color-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-neutral-very-dark-blue: hsl(240, 100%, 5%);

  --font-size-heading-xl: clamp(4rem, 5vw + 1rem, 5.6rem);
  --font-size-heading-medium: 3.2rem;
  --font-size-heading-small: 2rem;
  --font-size-heading-extra-small: 1.8rem;
  --font-size-body: 1.5rem;

  --font-weight-normal: 400;
  --font-weight-medium: 700;
  --font-weight-bold: 800;
}
/* End Variables */

/* Base */
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 67.5%;
  min-height: 100%;
}

body{
  background-color: var(--color-neutral-off-white);
  color: var(--color-neutral-dark-grayish-blue);
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 90%;
}

img {
  max-width: 100%;
}

p {
  line-height: 27px;
}
/* End Base */

/* Components */
  .btn-primary {
    background-color: var(--color-primary-soft-red);
    border: none;
    color: var(--color-neutral-off-white);
    cursor: pointer;
    font-weight: var(--font-weight-medium);
    letter-spacing: 4.38px;
    line-height: 24px;
    padding: 1.3rem 3.5rem;
    text-transform: uppercase;
  }

  .btn-primary:hover {
    background-color: var(--color-neutral-very-dark-blue);
  }

/* End Components */

/* Nav */
nav .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2.8rem 0 3.2rem 0;
}

.nav-links-desktop {
  display: none;
}

@media (min-width: 750px) {
  .nav-links-desktop {
    display: flex;
    gap: 4.1rem;
  }

  .nav-link {
    cursor: pointer;
  }

  .nav-link:hover{
    color: var(--color-primary-soft-red);
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 14.4rem 2.9rem 20rem 2.4rem;
}

.mobile-nav-modal {
  background-color: rgba(0, 0, 26, 0.5);
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}

.nav-mobile {
  background-color: var(--color-neutral-off-white);
  margin-left: auto;
  height: 100%;
  width: 70%;
}

.nav-link {
  color: var(--color-neutral-very-dark-blue);
  font-size: var(--font-size-body);
}

#logo{
  cursor: pointer;
  height: 28px;
  width:45px;
}

#burger-menu {
  cursor: pointer;
  height: 17px;
  width:40px;
}

@media (min-width: 750px) {
  #burger-menu {
    display: none;
  }
}

#close-menu{
  cursor: pointer;
  float: right;
  padding: 2.73rem 2rem 0 0;
}
/* End Nav */

/* Header */
/* .header-content img{
} */
.header-img {
  background-image: url('../assets/images/image-web-3-mobile.jpg');
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.header-content h1 {
  color: var(--color-neutral-very-dark-blue);
  font-size: var(--font-size-heading-xl);
  font-weight: var(--font-weight-bold);
  margin: 2.4rem 0 1.6rem;
}

.header-content p {
  margin-bottom: 2.7rem;
}

aside {
  background-color: var(--color-neutral-very-dark-blue);
  margin: 6.4rem 0;
  padding: 2.4rem 2.1rem;
}

aside h2 {
  color: var(--color-primary-soft-orange);
  font-size: var(--font-size-heading-medium);
}

.header-card {
  padding: 3.5rem 0;
  border-bottom: solid 1px var(--color-neutral-grayish-blue);
}

.header-card:last-child {
  border: none;
}

.header-card h3 {
  color: var(--color-neutral-off-white);
  cursor: pointer;
  font-weight: var(--font-size-medium);
  line-height: 24px;
  margin-bottom: 0.8rem;
}

.header-card h3:hover {
  color: var(--color-primary-soft-orange);
}

@media (min-width: 750px) {
  header {
    display: flex;
    gap: 3rem;
    margin-bottom: 7.1rem;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2.8rem;
  }

  .header-img {
    background-image: url('../assets/images/image-web-3-desktop.jpg');
  }

  .header-content h1 {
    margin:0;
    width: 45%;
  }

  .header-item-right {
    width: 45%;
  }

  aside {
    margin: 0;
  }
}
/* End Header */

/*  Main */

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-bottom: 3.6rem;
  }

  .card {
    display: flex;
    align-items: center;
  }

  .card-img {
    margin-right: 1.6rem;
    width: 30%;
  }

  .card-content {
    width: 70%;
  }

  .card-content h2 {
    font-size: var(--font-size-heading-medium);
    font-weight:var(--font-weight-medium);
  }
  .card-content h3 {
    color: var(--color-neutral-very-dark-blue);
    cursor: pointer;
    font-size: 1.8rem;
    font-weight:var(--font-weight-medium);
    margin: 1.2rem 0 0.9rem;
  }

  .card-content h3:hover {
    color: var(--color-primary-soft-red)
  }

  @media(min-width: 750px) {
    .card-container{
      flex-direction: row;
      gap: 2.5rem;
    }

    .card-img{
      height: 100%;
    }
  }
/* End Main */

/* Footer */
  footer {
    text-align: center;
    line-height: 1.6;
  }
/* End Footer */
