/* Variables */
:root {
  --color-primary-soft-orange: hsl(35, 77%, 62%);
  --color-primary-soft-red:hsl(5, 85%, 63%);
  --color-neutral-off-white: hsl(36, 100%, 99%);
  --color-neutral-grayish-blue: hsl(233, 8%, 79%);
  --color-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-neutral-very-dark-blue: hsl(240, 100%, 5%);
}
/* End Variables */

/* Base */
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 67.5%;
  min-height: 100%;
}

body{
  background-color: var(--color-neutral-off-white);
  color: var(--color-neutral-dark-grayish-blue);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 90%;
}

img {
  max-width: 100%;
}
/* End Base */

/* Nav */
nav .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2.8rem 0 3.2rem 0;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap:2.4rem;
  padding: 14.4rem 2.9rem 20rem 2.4rem;
}

.mobile-nav-modal {
  background-color: rgba(0, 0, 26, 0.5);
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}

.nav-mobile {
  background-color: var(--color-neutral-off-white);
  margin-left: auto;
  height: 100%;
  width: 70%;
}

.nav-link {
  color: var(--color-neutral-very-dark-blue);
  font-size: 1.8rem;
}

#logo{
  cursor: pointer;
  height: 28px;
  width:45px;
}

#burger-menu {
  cursor: pointer;
  height: 17px;
  width:40px;
}

#close-menu{
  cursor: pointer;
  float: right;
  padding: 2.73rem 2rem 0 0;
}
/* End Nav */


/* Header */
  .header-content img{
    width: 100%;
  }
/* End Header */
