/* Variables */
:root {
  --color-primary-soft-orange: hsl(35, 77%, 62%);
  --color-primary-soft-red:hsl(5, 85%, 63%);
  --color-neutral-off-white: hsl(36, 100%, 99%);
  --color-neutral-grayish-blue: hsl(236, 8%, 79%);
  --color-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-neutral-very-dark-blue: hsl(240, 100%, 5%);
}
/* End Variables */

/* Base */
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 67.5%;
  min-height: 100%;
}

body{
  background-color: var(--color-neutral-off-white);
  color: var(--color-neutral-dark-grayish-blue);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 90%;
}

img {
  max-width: 100%;
}

p {
  line-height: 27px;
}
/* End Base */

/* Components */
  .btn-primary {
    background-color: var(--color-primary-soft-red);
    border: none;
    color: var(--color-neutral-off-white);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 4.38px;
    line-height: 24px;
    padding: 1.3rem 3.5rem;
    text-transform: uppercase;
  }

  .btn-primary:hover {
    background-color: var(--color-neutral-very-dark-blue);
  }

/* End Components */

/* Nav */
nav .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2.8rem 0 3.2rem 0;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap:2.4rem;
  padding: 14.4rem 2.9rem 20rem 2.4rem;
}

.mobile-nav-modal {
  background-color: rgba(0, 0, 26, 0.5);
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}

.nav-mobile {
  background-color: var(--color-neutral-off-white);
  margin-left: auto;
  height: 100%;
  width: 70%;
}

.nav-link {
  color: var(--color-neutral-very-dark-blue);
  font-size: 1.8rem;
}

#logo{
  cursor: pointer;
  height: 28px;
  width:45px;
}

#burger-menu {
  cursor: pointer;
  height: 17px;
  width:40px;
}

#close-menu{
  cursor: pointer;
  float: right;
  padding: 2.73rem 2rem 0 0;
}
/* End Nav */

/* Header */
.header-content img{
width: 100%;
}

.header-content h1 {
  color: var(--color-neutral-very-dark-blue);
  font-size: 4rem;
  font-weight: 700;
  margin: 2.4rem 0 1.6rem;
}

.header-content p {
  margin-bottom: 2.7rem;
}

aside {
  background-color: var(--color-neutral-very-dark-blue);
  margin: 6.4rem 0;
  padding: 2.4rem 2.1rem;
}

aside h2 {
  color: var(--color-primary-soft-orange);
  font-size: 3.2rem;
}

.header-card {
  padding: 3.5rem 0;
  border-bottom: solid 1px var(--color-neutral-grayish-blue);
}

.header-card:last-child {
  border: none;
}

.header-card h3 {
  color: var(--color-neutral-off-white);
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0.8rem;
}

.header-card h3:hover {
  color: var(--color-primary-soft-orange);
}
/* End Header */

/*  Main */

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-bottom: 3.6rem;
  }

  .card {
    display: flex;
    align-items: center;
  }

  .card-img {
    margin-right: 1.6rem;
    width: 30%;
  }

  .card-content {
    width: 70%;
  }

  .card-content h2 {
    font-size: 3.2rem;
    font-weight: 600;
  }
  .card-content h3 {
    color: var(--color-neutral-very-dark-blue);
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1.2rem 0 0.9rem;
  }

  .card-content h3:hover {
    color: var(--color-primary-soft-red)
  }
/* End Main */

/* Footer */
  footer {
    text-align: center;
    line-height: 1.6;
  }
/* End Footer */
